/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./1-timer.css');
@import url('./2-snackbar.css');

/* Body styles */
body {
  color: #2e2f42;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  margin: 0;
}

.list {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.section {
  margin-top: 10px;
  margin-left: 10px;
}
.txt {
  margin-top: 10px;
  font-size: 20px;
  color: blue;
}
